body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
.header {
    color: #32b9cd;
    border-bottom: solid 3px #32b9cd;
}
.container {
/*     border: solid 3px violet; */
    width: 80%;
    margin: auto;
}
 h1 {
 /*    border: solid 3px blue; */
    padding: 5px 15px;
/*     padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px; */
} 
/* ul {
    border: solid 3px green;
} */
.header .container {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
    
}
/* li {
    border: solid 3px white;
}
 */