body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
.header {
    color: #32b9cd;
    border-bottom: solid 3px #32b9cd;
}
.container {
/*     border: solid 3px violet; */
    width: 80%;
    margin: auto;
}
 h1 {
 /*    border: solid 3px blue; */
    padding: 5px 15px;
/*     padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px; */
} 
/* ul {
    border: solid 3px green;
} */
.header .container {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #e3b062;
    list-style: none;
    align-items: center;
    
}
.header ul .here {
    font-weight: 1000;
}
a {
    text-decoration: none;
    color: #e3b062;
}
/* li {
    border: solid 3px white;
}
 */

 /* banener */

 .banner{
    color: white;
    padding:  40px 0;
    height: 400px;
    background-image: url("assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
 }

 .banner .container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .banner p{
    font-size: 36px;
    width: 280px;
 }

 .banner .container span{
    font-weight: 800;
 }

 /* missão visão valores */
 .social {
    background-color: #e5e5e5;
 }

 .box img {
    width: 170px;
 }

.social .container .boxes {
    display: flex;
}

.box{
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social p{
    text-align: center;
}

/* footer */
.footer {
    background-color: #32b9cd;
    height: 150px;
    color: #fff;
    display: flex;
}

.footer .container{
    display: flex;
    justify-content: center;
}